/* styling the App */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div {
  background-color: white;
}

/* styling the <p> */
p {
  background-color: plum;
  padding: 50px;
  font-family: '"Comic Sans MS", cursive, sans-serif';
  color: black;
}